
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Views/Home/StyleSheet1.css" rel="stylesheet" />

</head>
<body>
    MI PRIMER PROGRAMA.
    <div>
        otra version
    </div>
    <div>
        otra version en la rama test
    </div>
    <p style="color:red;">testo rojo en la rama colores</p>
</body>
</html>
